<html>
  <head>
    <title>Book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <div class="nav"><a href="/">Book List</a> <a href="/user">User List</a> <a href="/book_update">Update Book List</a> <a href="/user_update">Update User list</a></div>
    <div class ="main">
        <h1>Book tracker</h1>
        <h2>Book list</h2>
        <form method="POST" action="/">
          Book title : <input type="text" name="book_title"><br>
          Author : <input type="text" name="author"><br>
          <input id="submit" type="submit" value="Add">
        </form> 
      <h2>Book list</h2>  
      <table>
        {% for i in book_lists %}
          <tr>
            <td>
              <h2>{{i.id}}. {{i.book_title}}</h2>
              {{i.author}}<br>
              <!-- <div class ="buttons">
                <div>
                <form method="POST" action="./update">
                <input type="hidden" value="{{i.book_title}}" name="current_book_title">
                <input type="text" value="{{i.book_title}}" name="newbook_title">

                <input type="hidden" value="{{i.author}}" name="current_author">
                <input type="text" value="{{i.author}}" name="new_author">
                <input type="submit" value="Update">
                </form>
                </div>
                <div>
                  <form method="POST" action="./delete">
                  <input type="hidden" value="{{i.book_title}}" name="book_title">
                  <input type="submit" value="Delete">
                </form>
                </div> -->
                
              </div>
              
            </td>
          </tr>
            {% endfor %}
      </table>
 </body>
</html>
