<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Update</title>
</head>
<body>
    <div class="nav"><a href="/">Book List</a> <a href="/user">User List</a> <a href="/book_update">Update Book List</a> <a href="/user_update">Update User list</a></div>
    <div class ="main">
    <h1>Update User list</h1>

    <table>
        {% for i in user_data %}
          <tr>
            <td>
              <h2>{{i.id}}. {{i.book_title}}</h2>

              <div class ="buttons">
                <form method="POST" action="./update_user">
                <input type="hidden" value="{{i.id}}" name="id">
                <input type="text" value="{{i.user_name}}" name="new_user_name">

                <input type="hidden" value="{{i.user_email}}" name="id">
                <input type="text" value="{{i.user_email}}" name="new_user_email">
              
                <input type="hidden" value="{{i.start_date}}" name="id">
                <input type="text" value="{{i.start_date}}" name="new_start_date">

                <input type="submit" value="Update_user">
                </form>
                <form method="POST" action="./delete_user">
                  <input type="hidden" value="{{i.id}}" name="id">
                  <input type="submit" value="Delete">
                </form>
            </div>
              
            </td>
          </tr>
            {% endfor %}
      </table>
    </div>
</body>
</html>